*{
    margin:0px;
    padding:0px;

}
body{
    background-color: lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.first{
   
    background-color: azure;
    height:500px;
    width:350px;
    border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
    
}
.second{
    display:flex;
     margin-left: 20px;
     margin-top: 20px;
}
span{
    margin-top: 9px;
    margin-left: 50px;
     margin-right: 5px;
     color:grey;
}

 h3{
margin-top: 20px;
margin-left: 30px;
color:grey;  
}
.set{
    display:flex;
     margin-left: 30px;
     margin-top: 10px;
    border-radius:5px;
}
.fourth{

    height:28px;
    width:25px;
    padding-top:10px ;
    padding-left: 10px;
    border-radius:2px;
    background-color: lightblue;
}
.fifth input{
   
    height:33px;
    width:250px;
}
.next{
display:flex;
justify-content:space-evenly;
margin-top:10px;
}
.step{
     display:flex;
     padding-left: 15px;
     padding-top: 10px;
    border-radius:5px;
}
.sixth input{
    margin-left: 30px;
   width:80px;
}
.seventh{
    background-color: lightblue;
}
.eight input{
    margin-left:65px;
    width:80px;
}
.new{
    margin-top: 20px;
margin-left: 20px;
color:grey; 
}
.radio-box {
    width:250px;
      border: 2px solid #ccc;
      padding: 10px 15px;
      border-radius: 8px;
      display:inline-block;
      background-color: #f9f9f9;
     margin-left: 35px;
     margin-top: 20px;
    }
.end{
   width:250px;
      border: 2px solid #ccc;
      padding: 10px 15px;
      border-radius: 8px;
      display:inline-block;
      background-color: #f9f9f9;
     margin-left: 35px;
     margin-top: 20px;
     background-color:burlywood;
}

.another{
    background-color:indigo;
    height:500px;
    width:400px;
     
     border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
     color:white;
}
.div1{
    margin-top: 20px;
    margin-left:20px;
}
.div2{
    margin-top:20px;
   margin-left:25px;
    margin-right:5px;
}
.div2 p{
     
    padding:2px;
    color:#ccc;
}
.heres{
    margin-top:20px;
    margin-left:25px;
    height:250px;
    width:350px;
    background-color:navy;
    border-top:2px yellow solid;
}
.heres h3{
    padding-top:10px;
    color:#ccc
}
.last{
     padding-top:10px;
    padding-left: 30px;
    color:gold;
    padding-bottom: 15px;
    border-bottom: 0.5px gainsboro solid;
}
.heres p{
    padding-left:20px ;
    padding-top: 20px;
    color:#ccc;
}
.you{
    padding-top:10px;
    padding-left: 30px;
}